* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


html,
body {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}


:root {
  --color-black: #232323;
  --color-green: #245723;
  --coler-yellowgreen: #45ff26;
  --color-orange: #ff7f00;
  --color-white: #ffffff;
  --color-gray: #645454;
  --color-yellow: #ffc501;
  --color-sky: #00acff;
  --font-EN: "Readex Pro", sans-serif;
  --font-KR: "Noto Sans KR", sans-serif;
}


.con {
  width: 1466px;
  margin: 0 auto;
}


.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrapper {
  min-height: 100%;
}



/* cursors */

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index:10000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border:2px solid #45ff26;
  pointer-events: none;
}


/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0 auto;
  padding: 50px 0 10px 0;
  background-color: var(--color-white);
}

.header-con {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 1466px;
}

.logo {
  margin-right: auto;
  height: 100%;
}

.header-con > .menu-text > li > a {
  margin-left: 48px;
  font-family: var(--font-EN);
  font-weight: 300;
  font-size: 18px;
  color: var(--color-black);
}

.header-con > .menu-text > li:hover > a {
  font-weight: 500;
  color: var(--color-orange);
}

/* main animation */

.container {
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: white;
}

.first {
  top: 0;
}

/* main */

.main,
.sub-desc,
.sub-link,
.text-scroll {
  font-family: var(--font-EN);
}

.main {
  position: relative;
  left: 10px;
  margin-top: 220px;
  font-weight: 700;
}

.main-title {
  position: relative;
  z-index: 50;
}

.line-1 {
  display: flex;
  align-items: flex-end;
  margin-bottom: 14px;
  font-size: 17em;
}

.line-1-title {
  margin-right: 136px;
  font-family: var(--font-KR);
  font-weight: 500;
  font-size: 34px;
  line-height: 124%;
  letter-spacing: 0.02em;
  color: var(--color-black);
}

.line-1 > span:last-child {
  font-size: 170px;
  line-height: 140px;
  color: var(--color-white);
  text-shadow: 2px 0 0 #245723, 0 2px 0 #245723, -2px 0 0 #245723,
    0 -2px 0 #245723; 
}

.line-2 {
  margin-bottom: 20px;
  width: 1054px;
  height: 170px;
  background-color: var(--color-green);
}

.line-2 > span {
  padding: 0 58px;
  font-size: 170px;
  line-height: 164px;
  color: var(--color-white);
}

.sub-link {
  width: 312px;
  height: 86px;
  color: var(--color-gray);
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.04em;
}

.sub-link > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  border-top: 1px solid #645454;
}

.sub-link > li:nth-child(2) {
  border-bottom: 1px solid #645454;
}

.sub-link > li > a {
  color: var(--color-black);
}

.sub-link > li:hover > a {
  color: var(--color-orange);
}

.line-3 > span {
  padding-left: 110px;
  font-size: 170px;
  line-height: 110px;
  color: var(--color-green);
}

.fa-solid {
  padding-right: 10px;
  margin-top: 10px;
  transform: rotate(45deg);
}

.main-circle {
  position: absolute;
  top: 0;
  left: 900px;
  z-index: -1;
  width: 260px;
  height: 260px;
  background-color: var(--coler-yellowgreen);
  border-radius: 100%;
  
}

.sub-desc {
  margin-top: 22px;
  margin-left: 428px;
  font-size: 12px;
  font-weight: 300;
  line-height: 140%;
  color: var(--color-gray);
}

/* scroll */

.cover {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 70px;
  background-color: var(--color-green);
  font-family: var(--font-EN);
  color: var(--color-orange);
}

.contact-scroll-white {
  justify-content: flex-end;
  margin-top: 70px;
  border-top: 2px solid #245723;
  background-color: var(--color-white);
  color: var(--color-green);
}

.cover > p {
  display: flex;
  font-size: clamp(1rem, 10vw, 2rem);
  font-weight: 600;
}

/* work-scroll */

.work-scroll {
  margin-top: 70px;
}

/* work */

h1,
.work-title,
.work-content-desc {
  font-family: var(--font-EN);
}

h1 {
  font-size: 40px;
  position: relative;
}

h1::after {
  content: url("https://cdn.jsdelivr.net/gh/seoungmohwa/mo-branding/mo-img/star.png");
  position: absolute;
  top: -20px;
}

.work-content h2 {
  margin-top: 6px;
  font-weight: 700;
  font-size: 34px;
}

.work-content h3 {
  display: inline-block;
  padding: 0.1em 0.4em;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-white);
  background-color: var(--color-green);
}

.work-content p {
  font-family: var(--font-KR);
  color: var(--color-black);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.work {
  margin-left: 227px;
  margin-top: 130px;
  height:auto;
  white-space: nowrap;
}

.work-title {
  margin-top: 100px;
}

.work-content {
  flex-wrap: nowrap;
  gap: 0 60px;
}

/* work -- forseaon */
.work-content-box {
  margin-top: 50px;
  width: 610px;
  height: 374px; 
}

.work-content-desc {
  margin-top: 20px;
}

.factsContainer_sm {
  width: 100%;
}

.fact {
  height: 100%;
}

/* -----------about me */

.about {
  margin-top: 160px;
  font-family: var(--font-KR);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  
}

.aboutme-title > h1 {
  margin-right: 130px;
}

.aboutme-circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme-desc {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 38px;
  margin-top: 110px;
}

.aboutme-title {
  align-items: start;
}

.aboutme-title > p {
  margin-top: -10px;
}

.aboutme-circle {
  position: relative;
  width: 282px;
  height: 282px;
  border-radius: 100%;
  background-color: var(--color-green);
}

.aboutme-circle > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutme-circle > p {
  position: absolute;
  top: 320px;
  left: 0;
  text-align: center;
  white-space: nowrap;
}

.circle-2,
.circle-3,
.circle-4 {
  border: 3px solid #245723;
  background-color: var(--color-white); 
}

.aboutme-line {
  margin-top: 190px;
  width: 1468px;
  border: 0.8px solid #645454;
  opacity: 0.6;
}

.skills-title {
  margin-top: 110px;
}

.skills-title > p {
  margin-top: -6px;
  margin-left: 196px;
}

.skill-desc {
  margin: 110px 60px 0 348px;
  display: flex;
  position: relative;
  align-items: center;
}

.skill-circle-2,
.skill-circle-arrow,
.skill-circle-3 {
  position: absolute;
}

.skill-circle-2 {
  left: 136px;
  z-index: -10;
}

.skill-circle-arrow {
  left: 378px;
}

.skill-circle-3 {
  left: 440px;
}

/* skill-graph */

.skill-graph {
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 126px;
  margin-top: 150px;
}

.skill-graph:after {
  content: "";
  position: absolute;
  top: 182px;
  left: 50%;
  width: 1340px;
  height: 1px;
  background-color: var(--color-green);
  transform: translate(-50%, -50%);
}

.graph-desc {
  width: 136px;
}

.circle > p {
  font-weight: 400;
  font-size: 18px;
}



/* ----------------- */
.progressbar {
  display: inline-block;
  margin: 25px;
  width: auto;
}

/* ----------------- */
.circle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.circle canvas {
  vertical-align: middle;
}

.circle div {
  position: absolute;
  top: 218px;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: var(--font-EN);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 0%;
  color: #645454;
  text-align: center;
}

.circle strong i {
  font-size: 0.6em;
  font-weight: normal;
  background-color: red;
}

.circle > img {
  position: absolute;
  top: 20%;
  left: 50%;
  padding-top:6px;
  transform: translate(-50%, 0);
}

.graph-circle-line {
  display: block;
  margin-top: 28px;
  width: 18px;
  height: 1px;
  background-color: var(--color-green);
  transform: rotate(90deg);
}

.circle p {
  display: block;
  margin-top: 16px;
  color: var(--color-gray);
  font-family: var(--font-EN);
  font-weight: 300;
  font-size: 18px;
}

/* contact */

.contact-title > span:nth-child(2),
.contact-name-number > div > span,
footer > span {
  font-family: var(--font-KR);
}

.contact {
  justify-content:space-between;
  margin-top: 130px;
  color: var(--color-black);
}

.contact-title {
  margin-top: 50px;
  
}
.contact-title > span:nth-child(1) {
  font-family: var(--font-EN);
  font-size: 80px;
  font-weight: 800;
  color: var(--color-orange);
}

.contact-title > span:nth-child(2) {
  margin-top: -20px;
  padding: 8px 0 0 8px;
  font-size: 34px;
  font-weight: 500;
}

.contact-title {
  margin-bottom: 120px;
}

.phon,
.mail {
  display: block;
  align-items: center;
}

.contact-name-number > div > span {
  font-weight: 300;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 0.014em;
}

.contact-name-number > div > img {
  margin-right: 18px;
  margin-top: -10px;
  height: 100%;
}

.name {
  font-family: var(--font-EN);
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 0.014em;
}

.number {
  font-size: 18px;
}

.mail {
  font-size: 17px;
}



.contact-desc-2 > img {
  margin-top: -30px;
}

footer {
  height: 50px;
  background-color: var(--color-green);
}

footer > span {
  display: block;
  padding-top: 16px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
